
  <h1>{{title}}</h1>
  <form >
    <label for="email">Email: </label><input  #input (blur)="onBlurMethod($event.target.name,$event.target.value)" placeholder="email"type="email" name="email" [(ngModel)]="email" (focus)="eraseInputMail()" class={{colorMail}}>
    <label for="login">Login: </label> <input #input (blur)="onBlurMethod($event.target.name,$event.target.value)" type="text" name="login" placeholder="login" [(ngModel)]="login"  (focus)="eraseInputLogin()"class={{colorLogin}}>
    <button type="submit">Envoyer</button>
  </form>
  <p>{{useMail}}</p>
  <p>{{useLogin}}</p>

<!--   (ngSubmit)="onSubmit(f)" #f="ngForm"
 -->
